body {
  background-color: lightgrey;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wizards-logo {
  width: 100px;
  height: 100px;
  display: block;
}

.header-title {
  display: inline-block;
  margin-bottom: auto;
  margin-top: auto;
  font-size: 23px ;
  font-style: italic;
  color: black;
}